@model ClassRoom.Models.DataCreate.Hday

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/stylesheet.css" rel="stylesheet" />

<h1 style="display:flex;justify-content:center;">Details</h1>

<div>
    <h4>Holiday</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
