@model IEnumerable<ClassRoom.Models.DataCreate.Hday>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1>
    Holiday List

    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-plus"></i>Create New Holiday</a>

</h1>


<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Start_Date.ToString("dd MMM, yyyy")
                </td>
                <td>
                    @item.End_Date.ToString("dd MMM, yyyy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>