@model IEnumerable<ClassRoom.Models.DataCreate.Session>

@{
    ViewData["Title"] = "Session List";
}


<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1>
    Session List

    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-plus"></i>Create New Session</a>

</h1>


<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th> 
                    Start Date
            </th>
            <th>
                    End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        @item.Session_Start_Date.ToString("dd MMM, yyyy")
            </td>
            <td>
                        @item.Session_End_Date.ToString("dd MMM, yyyy")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>