@model ClassRoom.Models.DataCreate.LecturerCourse

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<h1 style="display: flex;justify-content: center;">
    Details
</h1>

<div>
    <h4>Lecturer Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers.LecturerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.LecturerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
