@model classroombooking.DataCreate.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
  @*       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.createdDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.createdDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
