@model IEnumerable<classroombooking.DataCreate.Booking>

@{
    ViewData["Title"] = "Index";
    var filterClassRoutine = ViewBag.Filter as FilterClassRoutine;
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<h1>
    Class Routine
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-plus"></i>Create New</a>
    <a class="btn btn-primary" asp-action="Room_Booking">Room Booking</a>

</h1>

<form method="get">
   <!-- <input type="date" id="filterStartDate" name="StartDate" value="2018-07-22" min="2018-01-01" max="2018-12-31" />!-->
    <input type="datetime-local" id="filterStartDate" name="StartDate" value="@(filterClassRoutine?.StartDate?.ToString("yyyy-MM-ddTHH:mm:ss"))" />
    <input type="datetime-local" id="filterEndDate" name="EndDate" value="@(filterClassRoutine?.EndDate?.ToString("yyyy-MM-ddTHH:mm:ss"))" />

    <button type="submit">Filter</button>

    <div style="padding:5px 0px 0px;color:red">@ViewBag.FilterErrorMsg</div>

</form>

<div style="height:10px"></div>



<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
       @*      <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Lecturers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(i=>i.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.Finish)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Lecturers.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-distribute-vertical"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
