@model IEnumerable<ClassRoom.Models.Room_Booking.Booking>

@{
    ViewData["Title"] = "Booking List";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1>
    Booking List
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-plus"></i>Create New Booking</a>
</h1>



<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th>
               Class Time
            </th>
            <th>
                    Class Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(i=>i.Class_Date)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slots.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms.Name)
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>