@model ClassRoom.Models.DataCreate.Lecturer

@{
    ViewData["Title"] = "Lecturer Details";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<h1 style="display:flex;justify-content:center;">Details</h1>

<div>
    <h4>Lecturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LecturerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LecturerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt class="col-sm-2">
            Session
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownList("SessionId", (IEnumerable<SelectListItem>)ViewBag.Sessions, new { @lecturerid = Model.Id })
        </dd>

        <dt class="col-sm-2">
            Lecturer Courses
        </dt>

        <dd class="col-sm-10" id="courseList">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $('#SessionId').change(function () {
        var lecturerId = $(this).attr('lecturerid'),
            sessionId = $(this).val();

        $.ajax({
            type: "get",
            url: "/LecturerCourses/GetBySession",
            data: { lecturerId: lecturerId, sessionId: sessionId },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var text = response.map(c => `<div><span>${c.Code}</span>&nbsp;<span>${c.Name}</span></div>`);

                $('#courseList').html(text);
            }
        });
    }).change();
</script>
