@model ClassRoom.Models.Room_Booking.Routine

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<h1 style="display:flex;justify-content:center;">Delete</h1>

<h3 style="color:red;">Are you sure you want to delete this?</h3>
<div>
    <h4>Routine</h4>
    <hr />
    <dl class="row">
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sessions.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
