@model IEnumerable<ClassRoom.Models.Room_Booking.Routine>

@{
    ViewData["Title"] = " Routine List";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1>
    Routine List

    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-file-plus"></i>Create New Routine</a>

</h1>


<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Sessions)
            </th>
            
            <th>
                    Teacher
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Sessions.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Lecturers.FullName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>