@model IEnumerable<ClassRoom.Models.Room_Booking.Routine>
@{
    ViewData["Title"] = "Home Page";

}

<link href="~/css/stylesheet.css" rel="stylesheet" />


<div class="text-center">
    <h1 class="display-4">Welcome To UITS</h1>


</div>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Sessions)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Lecturers)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Sessions.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Lecturers.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                   
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                   
                </td>
            </tr>
        }
    </tbody>
</table>
