@model IEnumerable<classroombooking.DataCreate.Booking>

@{
    ViewData["Title"] = "Home Page";

}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>


</div>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
   @*          <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Lecturers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>

           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
      @*           <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Lecturers.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rooms.Name)
                </td>


               
            </tr>
        }
    </tbody>
</table>
</div>